
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@forward "base/variables";
@use "base/variables";

@forward "base/typography";
@use "base/typography";

@forward "layout/container";
@use "layout/container";

@forward "layout/grid";
@use "layout/grid";

@forward "layout/card";
@use "layout/card";

@forward "utilities/helpers";
@use "utilities/helpers";

@use '@angular/material' as mat;


// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: variables.$default-font,
    density: 0,
  ));
}/* You can add global styles to this file, and also import other style files */

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}

body {
    background-color: variables.$background-color;
    background-image: url('../bg-dark.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

a {
  text-decoration: none;
  color: variables.$text-color;
}

.portfolio-modal-panel {
  overflow: hidden;
  border-radius: 8px;
  background-color: variables.$secondary-color;
}

.portfolio-modal-panel .mat-mdc-dialog-surface {
  border-radius: 8px;
  background-color: variables.$secondary-color;
}




