<section id="about">
  <div appFloatInOnScroll class="component-container">
    <div class="light-border">
      <div class="main-container text-color-green">
        <div class="row-container">
          <div appFloatInOnScroll class="left-column">
            <div class="typewriter-container">
              <span class="title-font ">&lt;span&gt;</span>
              <span class="text-color-grey title-font "
                typingAnimation
                [typeSpeed]="200"
                [startDelay]="2000"
                [condition]="start"
                [text]='"Hi, I&#39;m Szilard"'>
              </span>
              <span class="title-font">&lt;/span&gt;</span>
            </div>
            <div class="intoduction text-color-grey title-font " ><span class="gradient-text">&#123;  Full Stack &#125;</span>  Software Engineer</div>
            <div class="introduction-summary title-font  text-color-grey"><span>&lt;p&gt;</span>I build software with <span>.NET</span>, <span>Angular</span>, and <span>Azure</span>, working across applications, APIs, libraries, and cloud infrastructure. I enjoy solving complex engineering problems and turning ideas into software that is practical, reliable, and built to last.<span>&lt;/p&gt;</span></div>
            <div class="links">
              <button disabled class="bounce-button custom-button default-font resume">
                <a href="assets/Ferencz_Szilard_CV.pdf" download="SzilardFerencz-CV">
                  <div class="download-button">
                    <span><i class="fa-solid fa-download"></i> [CV]</span>
                  </div>
                </a>
              </button>
              <button class="bounce-button custom-button default-font github">
                <a href="https://github.com/Sziszka90" target="_blank" rel="noopener noreferrer">
                  <div class="github-button">
                    <span><i class="fa-brands fa-github"></i></span>
                  </div>
                </a>
              </button>
              <button class="bounce-button custom-button default-font linkdin">
                <a href="https://www.linkedin.com/in/szilard-ferencz/" target="_blank" rel="noopener noreferrer">
                  <div class="linkdin-button">
                    <span><i class="fa-brands fa-linkedin"></i></span>
                  </div>
                </a>
              </button>
            </div>
          </div>
        </div>
        <div class="block-container">
          <div class="icon-carousel">
            <div class="carousel-track">
              <i class="fas fa-code"></i>
              <i class="fa-brands fa-angular"></i>
              <i class="fa-brands fa-js"></i>
              <i class="fa-brands fa-git"></i>
              <i class="fa-brands fa-html5"></i>
              <i class="fa-brands fa-css3-alt"></i>
              <i class="fas fa-code"></i>
              <i class="fa-brands fa-angular"></i>
              <i class="fa-brands fa-js"></i>
              <i class="fa-brands fa-git"></i>
              <i class="fa-brands fa-html5"></i>
              <i class="fa-brands fa-css3-alt"></i>
              <i class="fas fa-code"></i>
              <i class="fa-brands fa-angular"></i>
              <i class="fa-brands fa-js"></i>
              <i class="fa-brands fa-git"></i>
              <i class="fa-brands fa-html5"></i>
              <i class="fa-brands fa-css3-alt"></i>
              <i class="fas fa-code"></i>
              <i class="fa-brands fa-angular"></i>
              <i class="fa-brands fa-js"></i>
              <i class="fa-brands fa-git"></i>
              <i class="fa-brands fa-html5"></i>
              <i class="fa-brands fa-css3-alt"></i>
              <i class="fas fa-code"></i>
              <i class="fa-brands fa-angular"></i>
              <i class="fa-brands fa-js"></i>
              <i class="fa-brands fa-git"></i>
              <i class="fa-brands fa-html5"></i>
              <i class="fa-brands fa-css3-alt"></i>
              <i class="fas fa-code"></i>
              <i class="fa-brands fa-angular"></i>
              <i class="fa-brands fa-js"></i>
              <i class="fa-brands fa-git"></i>
              <i class="fa-brands fa-html5"></i>
              <i class="fa-brands fa-css3-alt"></i>
              <i class="fas fa-code"></i>
              <i class="fa-brands fa-angular"></i>
              <i class="fa-brands fa-js"></i>
              <i class="fa-brands fa-git"></i>
              <i class="fa-brands fa-html5"></i>
              <i class="fa-brands fa-css3-alt"></i>
              <i class="fas fa-code"></i>
              <i class="fa-brands fa-angular"></i>
              <i class="fa-brands fa-js"></i>
              <i class="fa-brands fa-git"></i>
              <i class="fa-brands fa-html5"></i>
              <i class="fa-brands fa-css3-alt"></i>
              <i class="fas fa-code"></i>
              <i class="fa-brands fa-angular"></i>
              <i class="fa-brands fa-js"></i>
              <i class="fa-brands fa-git"></i>
              <i class="fa-brands fa-html5"></i>
              <i class="fa-brands fa-css3-alt"></i>
              <i class="fas fa-code"></i>
              <i class="fa-brands fa-angular"></i>
              <i class="fa-brands fa-js"></i>
              <i class="fa-brands fa-git"></i>
              <i class="fa-brands fa-html5"></i>
              <i class="fa-brands fa-css3-alt"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>