<div class="portfolio-modal default-font">
  <button class="close-btn" (click)="close()" aria-label="Close dialog">&times;</button>
  <div class="title">
        <h1>Heads up</h1>
        <h2>Cold start may take a few moment</h2>
  </div>
  <p>
    The project is deployed to scaled-to-zero containers! When you open the project it may take a few
    minutes to start up and become available. Please be patient while it "wakes up".
  </p>
  <p>
    You can open the project using the link below. It will open in a new tab so you can keep this page open.
  </p>
  <div class="actions">
    <a class="custom-button bounce-button" (click)="close()" href="https://www.financeapp.fun" target="_blank" rel="noopener noreferrer">Continue to site</a>
  </div>
</div>
