<section id="experiences">
  <div class="component-container">
    <div class="light-border">
      <div class="main-container">
        <div class="title title-font text-color-green">
          <h2>Experience</h2>
        </div>

        <div class="experience-timeline">
        <mat-card appFloatInOnScroll class="experience-item default-font">
          <mat-card-header>
            <mat-card-title class="gradient-text position">Software Engineer</mat-card-title>
            <div class="meta">
              <span class="company">Capgemini Hungary Kft. / Morgan Stanley</span>
              <span class="date">Jan 2026 – Present</span>
            </div>
          </mat-card-header>
          <mat-card-content>
            <p class="location">Budapest, Hungary</p>
            <ul class="description">
              <li>Develop company-wide platform used across multiple teams, ensuring scalability, reliability, and maintainability.</li>
              <li>Design and implement reusable .NET libraries to streamline internal development processes.</li>
              <li>Manage deployments using the internal deployment platform and automate CI/CD pipelines with TeamCity.</li>
              <li>Support and guide .NET developer teams, improving code quality and development efficiency.</li>
            </ul>
          </mat-card-content>
        </mat-card>

        <mat-card appFloatInOnScroll class="experience-item default-font">
          <mat-card-header>
            <mat-card-title class="gradient-text position">Full Stack Software Engineer</mat-card-title>
            <div class="meta">
              <span class="company">Robert Bosch Kft.</span>
              <span class="date">Jan 2021 – Dec 2025</span>
            </div>
          </mat-card-header>
          <mat-card-content>
            <p class="location">Budapest, Hungary</p>
            <ul class="description">
              <li>Developed and maintained full-stack applications using .NET C# and Angular.</li>
              <li>Optimized DevOps workflows with Azure pipelines.</li>
              <li>Implemented comprehensive testing strategies for reliable and scalable solutions.</li>
              <li>Worked closely with cross-functional teams to align on project requirements, provided support to colleagues, and contributed to delivering innovative and high-quality solutions.</li>
            </ul>
          </mat-card-content>
        </mat-card>
      
        <mat-card appFloatInOnScroll class="experience-item default-font">
          <mat-card-header>
            <mat-card-title class="gradient-text position">Automation Engineer</mat-card-title>
            <div class="meta">
              <span class="company">Robert Bosch Kft.</span>
              <span class="date">Feb 2018 – Jan 2021</span>
            </div>
          </mat-card-header>
          <mat-card-content>
            <p class="location">Budapest, Hungary</p>
            <ul class="description">
              <li>Implemented control software for industrial machines.</li>
              <li>Commissioned machines, softwares and supported trial production.</li>
              <li>Communicated with customers to understand requirements and ensure satisfaction.</li>
              <li>Managed small projects, overseeing timelines and deliverables.</li>
            </ul>
          </mat-card-content>
        </mat-card>

        <mat-card appFloatInOnScroll class="experience-item default-font">
          <mat-card-header>
            <mat-card-title class="gradient-text position">Automation Engineer</mat-card-title>
            <div class="meta">
              <span class="company">Agrometal-Food-Tech Kft.</span>
              <span class="date">May 2015 – Feb 2018</span>
            </div>
          </mat-card-header>
          <mat-card-content>
            <p class="location">Budapest, Hungary</p>
            <ul class="description">
              <li>Implemented machine software from scratch.</li>
              <li>Created circuit diagrams for machine systems.</li>
              <li>Participated in commissioning to ensure proper functionality.</li>
              <li>Provided after-sales support, troubleshooting and optimizing performance.</li>
            </ul>
          </mat-card-content>
        </mat-card>

        <mat-card appFloatInOnScroll class="experience-item default-font">
          <mat-card-header>
            <mat-card-title class="gradient-text position">Electrical Design Engineer</mat-card-title>
            <div class="meta">
              <span class="company">Baldwin UV</span>
              <span class="date">May 2014 – May 2015</span>
            </div>
          </mat-card-header>
          <mat-card-content>
            <p class="location">Slough, UK</p>
            <ul class="description">
              <li>Transformed and migrated electrical schematics from legacy systems to a modern platform, ensuring improved accuracy and efficiency.</li>
              <li>Created circuit diagrams for machine systems.</li>
              <li>Created Bills of Materials (BOMs) for machine components. Provided after-sales support, troubleshooting and optimizing performance.</li>
              <li>Provided ongoing support to the production team.</li>
            </ul>
          </mat-card-content>
        </mat-card>
        </div>
      </div>
    </div>
  </div>
</section>