<div class="offcanvas-logo">
    <h3 class="letter-space default-font text-color-green">Get in touch</h3>
</div>
<div class="offcanvas-side-info">
    <div class="contact-list">
        <p class="letter-space text-color-grey default-font">I’m always glad to connect - whether you’re a recruiter, fellow developer, or hiring manager, feel free to reach out!</p>
    </div>
    <div class="contact-item">
        <span class="text-color-blue default-font"><i class="fa-solid fa-envelope"></i>Email</span>
        <p class="text-color-grey default-font"><a href="mailto:szilardferencz.dev@gmail.com">szilardferencz.dev&#64;gmail.com</a></p>
    </div>
    <div class="contact-item">
        <span class="text-color-blue default-font"><i class="fa-solid fa-envelope"></i>Address</span>
        <p class="text-color-grey default-font">Budapest, Hungary</p>
    </div>
</div>      
