<div class="component-container">
    <button class="offcanvas-toggle custom-button text-center" 
            data-bs-toggle="offcanvas" 
            data-bs-target="#offcanvasInfo">
            <i class="fa-solid fa-phone text-color-grey"></i>
    </button>
    <div class="title">
        <a class="navbar-brand main-logo" href="#">
            <img src="assets/logo.png" alt="logo" />
            <div class="logo-text">
                <span class="text-color-grey gradient-text default-font">Szilard Ferencz</span>
                <span class="text-color-grey gradient-text default-font">Software Engineer</span>
            </div>
        </a>
    </div>

    <nav class="navbar">
        <button class="navbar-toggle custom-button" 
                data-bs-toggle="offcanvas" 
                data-bs-target="#offcanvasMenu">
            <i class="fa-duotone fa-solid fa-bars text-color-grey"></i>
        </button>

        <div id="navbarNav">   
            <ul class="navbar-menu default-font">
                <li><a href="#about">About</a></li>
                <li><a href="#areas">Areas</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#experiences">Experiences</a></li>
                <li><a href="#blog">Blog</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </nav>   
</div>

<div class="offcanvas offcanvas-end offcanvas-navbar" tabindex="-1" id="offcanvasMenu">
    <div class="offcanvas-body">
        <div class="offcanvas-close-icon menu-close text-end">
            <button class="custom-button" data-bs-dismiss="offcanvas">
                <i class="fa-solid fa-xmark text-color-grey"></i>
            </button>
        </div>
        <div class="title">
            <a class="navbar-brand main-logo" href="#">
                <img src="assets/logo.png" alt="logo" />
            </a>
        </div>
        <div id="navbarNav">   
            <ul class="offcanvas-menu default-font">
                <li><a (click)="closeOffcanvas()" href="#about">About</a></li>
                <li><a (click)="closeOffcanvas()" href="#areas">Areas</a></li>
                <li><a (click)="closeOffcanvas()" href="#skills">Skills</a></li>
                <li><a (click)="closeOffcanvas()" href="#experiences">Experiences</a></li>
                <li><a (click)="closeOffcanvas()" href="#blog">Blog</a></li>
                <li><a (click)="closeOffcanvas()" href="#contact">Contact</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-start offcanvas-getintouch" tabindex="-1" id="offcanvasInfo">
    <div class="offcanvas-body">
        <div class="offcanvas-close-icon menu-close text-end">
            <button class="custom-button" data-bs-dismiss="offcanvas">
                <i class="fa-solid fa-xmark text-color-grey"></i>
            </button>
        </div>
        <app-get-in-touch></app-get-in-touch>
    </div>
</div>