@use 'base/variables' as variables;
@use 'layout/card' as card;

.grid-container > .card:last-child {
    grid-column: 1 / -1;
    justify-self: center;
    width: calc(50% - 0.5rem);
}

// Responsiveness
@media(max-width: 800px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, auto);   
        gap: 1rem;                       
        width: 95%;                         
        margin: 2rem;                        
    }

    .grid-container > .card:last-child {
        grid-column: auto;
        width: 100%;
    }
}

@media (max-width: 589px) {
    .areas-container {
        margin: 1rem;
    }
}
